<header>
<h1>Budżet domowy Oli i Tomka</h1>
</header>

<div class="wrapper">
	<div id="ola">
		<h2>
			Ola
		</h2>
		<table>
			<tr>
				<th>
				Data
				</th>
				<th>
				Wydatek
				</th>
				<th>
				Kwota
				</th>
			</tr>
			<tr>
				<td>
					10.07.2013
				</td>
				<td>
					Owoce, warzywa
				</td>
				<td>
					20
				</td>
			</tr>
			<tr>
				<td>
					11.07.2013
				</td>
				<td>
					Kiełbasa
				</td>
				<td>
					10
				</td>
			</tr>
			<tr>
				<td>
					11.07.2013
				</td>
				<td>
					Paliwo
				</td>
				<td>
					50
				</td>
		</table>
		<table>
			<tr>
				<td>Suma</td>
				<td>Kwota</td>
			</tr>
			<tr>
				<td>Saldo</td>
				<td>Kwota</td>
		</table>
	</div>
	<div id="tomek">
		Tomek
	</div>
	<div id="dodawanie">
		<h1>Dodaj wydatek</h1>
		<form>
			Rodzaj wydatku: <input type="text" name="rodzaj"><br>
			Kwota: <input type="text" name="kwota">
		</form>
		<h1>Dodaj zwrot</h1>
		<form>
			Za co: <input type="text" name="za co"><br>
			Kwota: <input type="text" name="kwota"
		</form>
	</div>
</div>